<h1 id='userID' class='hidden'>{{user_id}}</h1>

{{#if displayDates.length}}
  {{#each displayDates as |date|}}
    <p id='resultID' class='hidden'>{{date.id}}</p>
    <div class='card mb-3 justify-content-center'>
      <div class='row no-gutters'>
        <div class='col-md-2'>
          <img
            src='{{date.profile_pic}}'
            class='card-img'
            alt='{{date.name}}'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 id='dateName{{date.id}}' class='card-title'>{{date.name}}</h5>
            <p class='card-text'><strong>Gender:</strong> {{date.gender}}</p>
            <p class='card-text'><strong>Age:</strong>
              {{calculate_age date.birthday}}</p>
            <p class='card-text'><strong>Zodiac Sign:</strong>
              {{date.zodiac}}</p>
            <p class='card-text'><strong>Bio:</strong> {{date.bio}}</p>
            <button
              type='button'
              class='btn fancy-btn'
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
              data-bs-whatever='{{date.id}}'
            >Invite {{date.name}} to dinner</button>

            <div
              class='modal fade examplemodal'
              id='exampleModal'
              tabindex='-1'
              aria-labelledby='exampleModalLabel'
              aria-hidden='true'
            >

              <form id='message-form' class='modal-dialog'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h1
                      id='headerText'
                      class='modal-title fs-5'
                      id='exampleModalLabel'
                    >Message
                      {{date.name}}</h1>
                    <button
                      type='button'
                      class='btn-close'
                      data-bs-dismiss='modal'
                      aria-label='Close'
                    ></button>
                  </div>
                  <div class='modal-body'>
                    <div class='mb-3'>
                      <label
                        for='message-text'
                        class='col-form-label'
                      >Message:</label>
                      <textarea
                        class='form-control'
                        id='message-text'
                      ></textarea>
                    </div>
                  </div>
                  <div class='modal-footer'>
                    <button
                      id='close'
                      type='button'
                      class='btn btn-secondary'
                      data-bs-dismiss='modal'
                    >Close</button>
                    <button
                      id='sendbutton'
                      type='submit'
                      class='btn fancy-btn'
                    >Send message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  <script src='/js/message.js'></script>
{{/if}}