<div class="card-title d-flex justify-content-center card-body">
  <h2 class="fancy purple-text">Welcome to the Dating Portal</h3><br><br><br>
</div>
<div class="card-text d-flex justify-content-center card-body text-danger ">
  <h5 class="secondary-text">Other users in <span id="currentLoc">{{location}}</span> that want <span id="currentEat">{{what_to_eat}}</span></h5><br><br><br>
</div>
<section id="dating results" class="dflex">
  {{> user-details}}
</section>
<section>

<div class="card-text d-flex justify-content-center card-body text-danger">
  <h5>Suggested {{what_to_eat}} Restaurants:</h5>
</div>
{{#each displayRestaurants as |restaurant|}}
<div class="card mb-3" data-lat="{{restaurant.latitude}}" data-lng="{{restaurant.longitude}}" data-restaurant-id="{{restaurant.id}}">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="map{{restaurant.id}}" class="map"></div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{restaurant.dba}}</h5>
        <p class="card-text">{{restaurant.building}} {{restaurant.street}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}

     </section><br><br>
<!-- Add the script to load the maps for each restaurant card -->
<script type='text/javascript'>
 async function loadMap(element) {
  const lat = parseFloat(element.dataset.lat);
  const lng = parseFloat(element.dataset.lng);
  const restaurantId = element.dataset.restaurantId;

  // Fetch the API key from the server
  const response = await fetch('/api/maps-key');
  const data = await response.json();
  const apiKey = data.apiKey;

  // Initialize the map with the API key
  const map = new Microsoft.Maps.Map('#map' + restaurantId, {
    credentials: apiKey,
    center: new Microsoft.Maps.Location(lat, lng),
    zoom: 14
  });

  const pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
  map.entities.push(pushpin);
}



  function initMap() {
    var restaurantCards = document.querySelectorAll('.card[data-lat][data-lng][data-restaurant-id]');
    restaurantCards.forEach(loadMap);
  }
</script>

{{!-- update preferences modal starts here --}}
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color:#8e39aa; border:#8e39aa">
  Get New Date Options
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Change cuisine preference and borough</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-3">
        &#127961;
        <select class="custom-select col-sm-10 m-3" id="location">
          <option name="location" value="Queens" selected>Queens</option>
          <option name="location" value="Bronx">Bronx</option>
          <option name="location" value="Manhattan">Manhattan</option>
          <option name="location" value="Brooklyn">Brooklyn</option>
          <option name="location" value="Staten Island">Staten Island</option>
        </select>
        &#127869;
        <select class="custom-select custom-select-sm col-sm-10 m-3" id="what-to-eat">
          <option value="Chinese">Chinese</option>
          <option value="American">American</option>
          <option value="Indian">Indian</option>
          <option value="Thai">Thai</option>
          <option value="Japanese">Japanese</option>
          <option value="Pizza">Pizza</option>
          <option value="Albanian" selected>Albanian</option>
          <option value="Mexican">Mexican</option>
          <option value="Carribean">Carribean</option>
          <option value="Seafood">Seafood</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
        <button type="button" class="btn" id="update-btn" style="background-color: #8e39aa; color:#e8dfeb" data-bs-dismiss="modal">Show me Love</button>
      </div>
    </div>
  </div>
</div>
{{!-- update modal code over --}}

    {{!-- <div class="card-text d-flex justify-content-center card-body text-danger">
      <h5 class="secondary-text">Suggested {{what_to_eat}} Restaraunts:</h5>
    </div>
    {{#each displayRestaurants as |restaurant|}}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{restaraunt.icon}}" class="card-img" alt="picture of food" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{restaurant.dba}}</h5>
            <p class="card-text"><strong>{{restaurant.building}} {{restaurant.street}}</strong></p>
             <p class="card-text">{{restaurant.zipcode}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </section><br><br>
  --}}

  <style>
    body{
     background-color: #C68CD9;
    }
  </style>
  <script src="/js/update.js"></script>
