<div class='container'>

  <div class="card-title d-flex justify-content-center card-body git  text-light  ">
    <h3>Message Board</h3>
  </div><br>
  <div class='row'>
    <div class=' text-light'>
      <h5>Users</h5><br>
      {{#each users}}
      <div class='card mb-3'>
        <div class='row no-gutters'>
          <div class='col-md-4'>
            <img src='{{this.profile_picture_url}}' class='card-img' alt='{{this.username}}' />
          </div>
          <div class='col-md-8'>
            <div class='card-body'>
              <h5 class='card-title'>{{this.username}}</h5><br>
              <a href='/message-board/{{this.id}}' class='btn btn-primary'>View Messages</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class='col-md-4  text-light'>
      <h5>Messages</h>

      {{#if displayMessages}}
      {{#each displayMessages as |message|}}
      <div class='card mb-3'>
        <div class='card-body'>
          <h5 class='card-title'>{{message.sender_id}}
            to
            {{message.receiver_id}}</h5>
          <p class='card-text'>{{message.content}}</p>
        </div>
      </div><br>
      {{/each}}
      {{else}}
      <p>No messages yet.</p>
      {{/if}}

      {{!-- <form action='/api/messages/{{user.id}}' method='POST'>
        <div class='form-group'><br>
          <label for='message'>New Message:</label>
          <textarea class='form-control' id='message' name='message' rows='3'></textarea>
         <div class="text-left">
      <a class="btn btn-danger btn-lg " href="/signup" role="button">Send</a>
    </div>
    </div>
  </div>
</div> --}}

<style>
  body {
    background-color: #C68CD9;
  }
</style>