  <div class='container mx-auto my-4'>

    <div class="card-title d-flex justify-content-center card-body git purple-text">
      <h1 class="fancy">Messages</h3>
    </div><br>

        {{#if displayMessages}}
        {{#each displayMessages as |message|}}
<section class="row">
  <div class="col-md-6 mt-3">
    <div class="card mb-3 justify-content-center dflex">
      <div class="row no-gutters p-2">
        <div class="col-md-2 p-1">
          <img src="{{message.sender.profile_pic}}" class="card-img" alt="{{message.sender.name}}">
        </div>
        <div class="col-md-8 m-2">
          <div class="card-body">
            <h5 id="dateName{{date.id}}" class="card-title">{{message.sender.name}}</h5>
            <p class="card-text"><strong>Gender:</strong> {{message.sender.gender}}</p>
            <p class="card-text"><strong>Age:</strong> {{calculate_age message.sender.birthday}}</p>
            <p class="card-text"><strong>Zodiac Sign:</strong> {{message.sender.zodiac}}</p>
            <p class="card-text"><strong>Bio:</strong> {{message.sender.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="card mb-3 p-4 dflex">
      <div class="message card-body">
        <h4 class="card-title fancy">From: {{message.sender.name}}</h4>
        <p class="card-title secondary-text" style="font-size: smaller;">Sent: {{format_time message.createdAt}}</p>
        <p class="card-text secondary-text">"{{message.content}}"</p>
        <button type="button" class="btn fancy-btn m-2" data-bs-toggle="modal" data-bs-target="#reply" data-bs-whatever="{{message.sender.id}}">
          Reply to {{message.sender.name}}
        </button>
        <br>
        <button type="button" class="btn fancy-btn" data-bs-toggle="modal" data-bs-target="#profileModal{{message.sender.id}}">
          View {{message.sender.name}}'s Profile
        </button>
      </div>
    </div>
  </div>
</section>


      </div><br>

<div class="modal fade" id="profileModal{{message.sender.id}}" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                  <img
            src='{{message.sender.profile_pic}}'
            class='img-thumbnail'
            alt='{{message.sender.name}}'
          />
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body message">
        <p id="senderName{{message.sender.id}}" class="hidden">{{message.sender.name}}</p>
        <p class='card-text'><strong>{{message.sender.name}}</strong></p>
                   <p class='card-text'><strong>Location:</strong> {{message.sender.location}}</p>
            <p class='card-text'><strong>Gender:</strong> {{message.sender.gender}}</p>
            <p class='card-text'><strong>Zodiac Sign:</strong>
              {{message.sender.zodiac}}</p>
            <p class='card-text'><strong>Bio:</strong> {{message.sender.bio}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<p id="fromID" class="hidden">{{message.sender.id}}</p>
<p id="replyUser" class="hidden">{{message.receiver_id}}</p>
<div
              class='modal fade'
              id='reply'
              tabindex='-1'
              aria-labelledby='replyLabel'
              aria-hidden='true'
            >

              <form id='message-form' class='modal-dialog'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h1 class='modal-title fs-5 message' id='replyHeader'>Reply to {{message.sender.name}}</h1>
                    <button
                      type='button'
                      class='btn-close'
                      data-bs-dismiss='modal'
                      aria-label='Close'
                    ></button>
                  </div>
                  <div class='modal-body message'>
                    <div class='mb-3'>
                      <label
                        for='message-text'
                        class='col-form-label message'
                      >Message:</label>
                      <textarea
                        class='form-control'
                        id='message-text'
                      ></textarea>
                    </div>
                  </div>
                  <div class='modal-footer'>
                    <button
                      id='close'
                      type='button'
                      class='btn btn-secondary message'
                      data-bs-dismiss='modal'
                    >Close</button>
                    <button id="sendmessage" type='submit' class='btn fancy-btn'>Send message</button>
                  </div>
                </div>
              </form>
            </div>
      {{/each}}
      {{else}}
      <p>No messages yet.</p>
      {{/if}}

<style>
  body {
    background-color: #C68CD9;
  }
</style>

{{#if displayMessages.length}}
<script src="/js/message-board.js"></script>
{{/if}}

<style>
  body {
    background-color: #C68CD9;
  }
  .card {
    margin: 30px;
    border: black solid 3px;
    border-radius:25px;
  }

.card-img {
  border: 2px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 40% 0 0 12%;
}
</style>